@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Russo+One&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 8px;
}

body {
  margin: 0;
  font-family: "Play", sans-serif;
  color: #0c0c0c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Russo One", sans-serif;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

section {
  padding-block: 12rem;
}

.section__top {
  margin-bottom: 5rem;
}

.section__subtitle {
  font-size: 3rem;
}

.section__title {
  font-size: 7rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: .9;
}

.container {
  max-width: 1000px;
  padding-inline: 15px;
  margin-inline: auto;
}

.blue {
  color: dodgerblue;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.slick-track {
  padding-block: 2rem;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  font-size: 0;
  outline: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #000;
  z-index: 1000;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.slick-arrow:hover {
  opacity: 1;
}

.slick-prev {
  left: -60px;
  background: url(https://img.icons8.com/ios-glyphs/30/e07024/circled-chevron-left.png) center no-repeat;
  background-size: cover;
}

.slick-next {
  right: -60px;
  background: url(https://img.icons8.com/ios-glyphs/30/e07024/circled-chevron-right.png) center no-repeat;
  background-size: cover;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  gap: 0 15px;
}

.slick-dots li.slick-active button {
  opacity: 1;
}

.slick-dots li button {
  font-size: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: #e07024;
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 50%;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.slick-dots li button:hover {
  opacity: 1;
}

@media (min-width: 1440px) {
  .slick-arrow {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1370px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}

@media (max-width: 540px) {
  .slick-dots li button {
    width: 12px;
    height: 12px;
  }

  .slick-prev {
    left: -13px;
  }

  .slick-next {
    right: -13px;
  }
}

.main {
  /*     background: url(../img/intro-bg.png) no-repeat;
  background-position: top 200px right -100px;
  background-size: contain; */
  margin-left: 12vw;
  overflow: hidden;
}

.main-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -9999;
}

.main-bg>svg {
  opacity: .1;
  margin-bottom: -2px;
}



.sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 12vw;
  padding-block: 2rem;
  background-color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.logo-text {
  color: #fff;
  writing-mode: vertical-lr;
  font-size: 7rem;
  letter-spacing: 1rem;
}

.nav {
  position: fixed;
  margin-left: 12vw;
  width: 88vw;
  height: 100vh;
  background: #000000;
  padding-inline: 20vw;
  top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: center;
  z-index: 9999;
  -webkit-transition: top 0.2s linear;
  transition: top 0.1s linear;
}

.nav.active {
  top: 0;
}

.nav__link {
  margin-bottom: 3rem;
  color: #fff;

  font-size: 6rem;
  text-transform: uppercase;
}

.nav__link:hover {
  transform: scale(1.5);
}

.nav-toggle {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  padding: 3rem 1rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: color 0.2s linear, -webkit-transform 0.2s linear;
  transition: color 0.2s linear, -webkit-transform 0.2s linear;
  transition: color 0.2s linear, transform 0.2s linear;
  transition: color 0.2s linear, transform 0.2s linear,
    -webkit-transform 0.2s linear;
}

.nav-toggle:hover {
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-20deg);
}

.hide {
  color: #000;
  position: relative;
}

.hide::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fff;
  transform: rotate(40deg);
}

.hide::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  background-color: #fff;
  transform: rotate(-40deg);
}


.intro__inner {
  margin-bottom: 8rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.intro__title {
  font-size: 9rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: .9;
}

.intro__subtitle {
  font-size: 3rem;
}

.intro__text {
  align-self: center;
  max-width: 62rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.intro__link {
  background-color: dodgerblue;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  padding: 2rem 6rem 2rem 4rem;

  border-radius: 5px;

  z-index: 2;
  position: relative;
  -webkit-transition: color 0.2s linear;
  transition: all 0.3s linear;
}

.intro__link>img {
  position: absolute;
  top: 0;
  transform: translateY(10%);
  right: 0;
  width: 5rem;
}

.intro__link:hover {
  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}

.intro__link:hover.intro__link>span {
  color: green;
}

.intro__img {
  max-width: 60rem;
  align-self: flex-end;
  transition: transform .2s linear;
}

.intro__img:hover {
  transform: scale(1.2);
}

.services {
  background: url(../img/services-bg.png) center no-repeat;
  background-size: contain;
}

.services__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.services__card {
  -ms-flex-preferred-size: 30%;
  min-height: 260px;
  text-align: center;
  border-radius: 5px;
  padding: 8rem 3.2rem;
  color: #ffffff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;

  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  cursor: default;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services__card::after {
  content: '';
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  border-radius: 5px;
}

.services__card:nth-child(1) {
  background: url(../img/services/services-ventilator.jpg) center no-repeat;
  background-size: cover;
}

.services__card:nth-child(2) {
  background: url(../img/services/services-laptop.jpg) center no-repeat;
  background-size: cover;
}

.services__card:nth-child(3) {
  background: url(../img/services/services-internet.jpg) center no-repeat;
  background-size: cover;
}

.services__card:nth-child(4) {
  background: url(../img/services/services-windows.jpg) center no-repeat;
  background-size: cover;
}

.services__card:nth-child(5) {
  background: url(../img/services/services-pc.jpg) center no-repeat;
  background-size: cover;
}

.services__card:nth-child(6) {
  background: url(../img/services/services-program.jpg) center no-repeat;
  background-size: cover;
}

.services__card>.js-tilt-glare {
  border-radius: 5px;
}

.services__card-img {
  margin: 0 auto;
}

.services__card-text {
  font-size: 3rem;
  text-transform: uppercase;
}

.services__card-img,
.services__card-text {
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.services__card:hover .services__card-img {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}

.services__card:hover .services__card-text {
  -webkit-transform: translateZ(50px);
  transform: translateZ(50px);
}

.full-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem 0;
  margin-bottom: 5rem;
}

.full-services__list-item {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #7873f5;
}

.full-services__list-item:hover .full-services__list-link {
  background: rgba(224, 111, 36, 0.1);
}

.full-services__list-item.active {
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
}

.full-services__list-item.active .full-services__list-link {
  -webkit-transition: background 0.1s linear;
  transition: background 0.1s linear;
  background: rgba(224, 111, 36, 0.1);
}

.full-services__list-item.active .full-services__list-link:hover {
  background: rgba(224, 111, 36, 0.2);
}

.full-services__list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 15px;
  position: relative;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.full-services__list-arrow {
  width: 15px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  height: 15px;
  padding-left: 5px;
  -webkit-transition: fill 0.1s linear, -webkit-transform 0.1s linear;
  transition: fill 0.1s linear, -webkit-transform 0.1s linear;
  transition: transform 0.1s linear, fill 0.1s linear;
  transition: transform 0.1s linear, fill 0.1s linear,
    -webkit-transform 0.1s linear;
}

.full-services__list-arrow.active {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.full-services__droplist {
  max-width: 1200px;
  padding: 15px 30px 10px;
  font-size: 2rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2rem 0;
}

.full-services__droplist.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.full-services__droplist-item {
  position: relative;
  font-weight: 300;
}

.full-services__droplist-item::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: #000;
  top: 50%;
  left: -20px;
  -webkit-animation: 2s ease-in-out infinite alternate pulse;
  animation: 2s ease-in-out infinite alternate pulse;
}

.full-services__droplist-item span {
  font-weight: 600;
}

.full-services__note {
  text-align: center;
  font-size: 1.8rem;
  border-radius: 3px;
}

.full-services__note span {
  color: red;
}

.reviews__slide {
  margin-inline: 1rem;
}

.slide__inner {
  background-color: #fff;
  min-height: 30vh;
  position: relative;
  display: grid;
  place-content: center;
  padding: 2rem;
  border-radius: 30px;
  color: #000;
  /*   overflow-y: scroll; */
  -webkit-box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 20px -5px rgba(34, 60, 80, 0.2);
}

.review__link {
  cursor: pointer;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 3rem;
  gap: 0 1rem;
  text-align: center;
}

.inst-body {
  width: 8rem;
  fill: #7873f5;
}

.inst-circle {
  fill: #6BBBFF;
}

.review__quote-start {

  position: absolute;
  top: 0;
  left: 0;
}

.review__quote-end {

  position: absolute;
  bottom: 0;
  right: 0;
}


.review__name {
  font-weight: 700;
  font-size: 3rem;
}

.review__text {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
}

.contacts {
  margin-bottom: 8rem;
}

.contacts__map .map {
  pointer-events: none;
  border-radius: 10px;
  max-width: 100%;
  height: 400px;
}

.footer__inner {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;

}

.footer__list-title {
  font-size: 3.8rem;
  margin-bottom: 3.8rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem 0;
}

.footer__list-item {
  font-size: 2rem;
}

.footer__bottom-text {
  padding-block: 5rem;
  font-size: 2rem;
  text-align: center;
}

.panel {
  padding: .5rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 3rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 30px;
  -webkit-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.panel__link {
  width: 105px;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 30px;
  font-weight: 700;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}


.panel__link>svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}

.panel__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel__link:hover {
  background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

@media (max-width: 1440px) {
  :root {
    font-size: 7px;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 6px;
  }

  .intro__link {
    padding: 3rem 7rem 3rem 5rem;
  }

  .intro__img {
    max-width: 53rem;
  }

  .services__card-img {
    width: 80px;
  }

  .reviews__text {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .main {
    margin-left: 0;
    margin-top: 15rem;
    background-position: top 300px right;
  }

  .intro__inner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 5rem;
    height: 65vh;
  }

  .intro__link>img {
    transform: translateY(30%);
  }

  .intro__img {
    max-width: 53rem;
    align-self: center;
  }

  .sidebar {
    top: 0;
    width: 100%;
    height: 15rem;
    flex-direction: row;
    z-index: 9999;
  }

  .logo-text {
    writing-mode: horizontal-tb;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  .panel__list-link {
    font-size: 12px;
  }

  .services__card:hover .services__card-img,
  .services__card:hover .services__card-text {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .full-services__list-item {
    letter-spacing: 1px;
  }

  .contacts__map .map {
    height: 300px;
  }
}

@media (max-width: 630px) {
  :root {
    font-size: 6px;
  }

  .section__title {
    font-size: 6rem;
    text-align: center;
  }

  .section__subtitle {
    text-align: center;
  }

  .reviews>.container {
    padding: 0;
  }

  .footer__column {
    text-align: center;
  }
}

@media (max-width: 425px) {
  :root {
    font-size: 5.5px;
  }

  .full-services__list-link {
    padding: 12px 7px;
  }

  .services__card {
    min-height: 200px;
  }

  .services__card-text {
    font-size: 16px;
  }

  .full-services__list-item {
    font-size: 2rem;
  }

  .full-services__droplist {
    font-size: 1.7rem;
  }

  .full-services__list-link {
    padding: 15px 10px;
  }

  .full-services__note {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  :root {
    font-size: 5px;
  }

  .footer__right {
    gap: 0 7rem;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.87) translateY(-50%);
    transform: scale(0.87) translateY(-50%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  100% {
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -webkit-box-shadow: 0 0 10px 0.5px #9369a5;
    box-shadow: 0 0 10px 0.5px #9369a5;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.87) translateY(-50%);
    transform: scale(0.87) translateY(-50%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  100% {
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    -webkit-box-shadow: 0 0 10px 0.5px #9369a5;
    box-shadow: 0 0 10px 0.5px #9369a5;
  }
}